<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {include file='common/c_common_css_link.html'}
    <title>首页</title>
</head>

<body>
    {include file='admin/c_nav.html'}
    {include file='common/c_common_jumbotron.html'}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {include file='admin/c_admin_left_menu.html'}
            </div>
            <div class="col-md-9">
                本站已经发布{$newsnum}篇新闻
            </div>
        </div>
    </div>
    {include file='common/c_common_js_link.html'}
</body>

</html>
